.post-view{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    margin-top: 50px;
    height: 400px;
}

.card{
    display: flex;
    justify-content: center;
    height: 300px;
    padding: 30px;
    align-content: center;
}

.cardmd{
    border: #222 1px solid;
    height: 250px;
    padding: 10px;
}

.btn_card{
    margin-top: 20px;
    width: 120px;
    background-color: #222;
    color: #fff;
    border: none;
    cursor: pointer;
    height: 40px;
}

.btn_card:hover{
    margin-top: 20px;
    width: 120px;
    background-color: #fff;
    color: #222;
    border: #222 1px solid;
    cursor: pointer;
    height: 40px;
}